## Iteration

Iteration is the process of repeating a set of instructions a specified number of times or until a specific condition is met. In Python, iteration is typically performed using loops, which allow you to repeat a block of code multiple times.

There are two main types of loops in Python: `for` loops and `while` loops.

A `for` loop is used to iterate over an iterable object, such as a list or a string. Here is an example of a `for` loop that iterates over a list of numbers and prints each number:

```python
numbers = [1, 2, 3, 4, 5]
for num in numbers:
    print(num)
```

In this example, the `for` loop iterates over the list of numbers and assigns each number to the variable `num`. The `print()` function is then used to print each number to the console.

A `while` loop is used to repeat a block of code as long as a specific condition is true. Here is an example of a `while` loop that counts from 1 to 5:

```python
count = 1
while count <= 5:
    print(count)
    count += 1
```

In this example, the `while` loop repeats the block of code as long as the value of `count` is less than or equal to 5. The `print()` function is used to print the value of `count` to the console, and the `count += 1` statement increments the value of `count` by 1 in each iteration of the loop.

Iteration is a fundamental concept in Python that allows you to repeat a set of instructions multiple times using loops. `for` loops are used to iterate over a sequence of items, while `while` loops are used to repeat a block of code as long as a specific condition is true.

### `for` loop

A `for` loop is used to iterate over an `iterable` object, such as a list or a string.

* The loop mechanism retrieves elements from the iterable one at a time.
* The Body of the `for` loop is executed for each element retrieved.
* The loop terminates when all elements have been iterated.

In [1]:
numbers = [1, 2, 3, 4, 5]
for num in numbers:
    print(num)

1
2
3
4
5

In [2]:
print(num)

5

In [11]:
my_str = 'Hi there!'
for ch in my_str:
    print(ch)

H
i

t
h
e
r
e
!

### The `range` object 

The `range` object is a built-in type that represents an immutable sequence of numbers. The `range` object is commonly used in for loops to specify the number of iterations, but it can also be used to generate a list of numbers or to represent a range of values.

Here is the syntax for creating a `range` object:

```python
range(start, stop, step)
```

The `start` argument specifies the starting value of the range (inclusive), the `stop` argument specifies the ending value of the range (exclusive), and the `step` argument specifies the step size between values in the range (default is 1).

For example, `range(0, 10, 2)` creates a `range` object that represents the sequence of even numbers from 0 to 8 (inclusive), with a step size of 2.

The `range` object is often used to generate a sequence of numbers that is used in a for loop. Here is an example:

```python
for i in range(5):
    print(i)
```

In this example, the `range(5)` function creates a `range` object that represents the sequence of numbers from 0 to 4 (inclusive). The `for` loop then iterates over this sequence and prints each number to the console.

Note that the `range` object is immutable, which means that you cannot modify its values once it has been created. However, you can convert a `range` object to a list using the `list()` function if you need to modify its values.

In summary, the `range` object in Python is a built-in class that represents an immutable sequence of numbers. It is commonly used in for loops to specify the number of iterations or to generate a sequence of numbers.

In [14]:
r = range(10)
print(r)

range(0, 10)

We can convert a range object to a list using `list` function

In [15]:
list(r)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [19]:
len(r)

10

In [16]:
for i in r:
    print(i)

0
1
2
3
4
5
6
7
8
9

In [17]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [5]:
names = ['Alex', 'John', 'David', 'Eric', 'Richard']
for i in range(0, len(names), 2):
    print(names[i])

Alex
David
Richard

### Nested `fors`

Nested `for` loops refer to using one or more for loops inside another for loop. This allows you to iterate over multiple sequences of values simultaneously, creating a nested loop structure.

In [6]:
for i in range(3):
    for j in range(3):
        print(f'i={i}, j={j}')

i=0, j=0
i=0, j=1
i=0, j=2
i=1, j=0
i=1, j=1
i=1, j=2
i=2, j=0
i=2, j=1
i=2, j=2

### Example 1: Sum from 1 to n

In [18]:
number = int(input('Please enter the number: '))
total = 0
for i in range(number + 1):
    total += i

print(f'Sum of number from 1 to {number} is: {total}')

Please enter the number:  10

Sum of number from 1 to 10 is: 55

### Example 2: Prime number

The following programmer takes a number as input and prints if the number is prime or not.

In [25]:
number = int(input('Please enter a number: '))

if number > 1:
    is_prime = True
    for i in range(2, number):
        if number % i == 0:
            is_prime = False
    
    if is_prime:
        print('The number is prime!')
    else:
        print('The number is not prime')
else:
    print('The number is not prime')

Please enter a number:  72738813

The number is not prime

### `enumerate`
The enumerate() function is a built-in function that allows you to iterate over a sequence of items while also keeping track of the index of each item. The enumerate() function returns an iterator that produces tuples containing the index and the value of each item in the sequence.

In [13]:
names = ["Alice", "Bob", "Charlie"]
print(enumerate(names))
print(list(enumerate(names)))

<enumerate object at 0x7f941d98aec0>
[(0, 'Alice'), (1, 'Bob'), (2, 'Charlie')]

In [31]:
names = ["Alice", "Bob", "Charlie"]
for t in enumerate(names):
    print(t)

(0, 'Alice')
(1, 'Bob')
(2, 'Charlie')

In [32]:
names = ["Alice", "Bob", "Charlie"]
for t in enumerate(names):
    i, x = t
    print(i, x)

0 Alice
1 Bob
2 Charlie

In [33]:
names = ["Alice", "Bob", "Charlie"]
for i, name in enumerate(names):
    print(i, name)

0 Alice
1 Bob
2 Charlie

In [27]:
data = [10, 20, 30, -10, 40, -5]
for i, x in enumerate(data):
    if x < 0:
        data[i] = 0

print(data)

[10, 20, 30, 0, 40, 0]

### Example 3: Getting a list of numbers as input

In [23]:
number_of_nums = int(input('Please Enter the number of numbers you want to enter: '))

numbers = []
for i in range(number_of_nums):
    x = int(input(f'Enter {i}-th number: '))
    numbers.append(x)

print(numbers)

Please Enter the number of numbers you want to enter:  5
Enter 0-th number:  1
Enter 1-th number:  22
Enter 2-th number:  3
Enter 3-th number:  4
Enter 4-th number:  4

[1, 22, 3, 4, 4]

### Example 4: Iterating a 2-d list

In [14]:
m = [
    [8, 2, 4],
    [3, 22, 1],
    [90, 5, 3]
]

for row in m:
    for element in row:
        print(element)

8
2
4
3
22
1
90
5
3

In [10]:
for i in range(len(m)):
    for j in range(len(m[i])):
        print(f'Element {i}, {j} = {m[i][j]}')

Element 0, 0 = 8
Element 0, 1 = 2
Element 0, 2 = 4
Element 1, 0 = 3
Element 1, 1 = 22
Element 1, 2 = 1
Element 2, 0 = 90
Element 2, 1 = 5
Element 2, 2 = 3

In [17]:
for row_idx, row in enumerate(m):
    for column_idx, element in enumerate(row):
        print(f'Element {row_idx}, {column_idx} = {element}')

Element 0, 0 = 8
Element 0, 1 = 2
Element 0, 2 = 4
Element 1, 0 = 3
Element 1, 1 = 22
Element 1, 2 = 1
Element 2, 0 = 90
Element 2, 1 = 5
Element 2, 2 = 3

### Example 5: Replace `None` with average

In [21]:
data = [10.5, 11.2, 9.8, None, 11.5, None]

total = 0
count = 0
for x in data:
    if x is not None:
        count += 1
        total += x

average = total / count

for idx, x in enumerate(data):
    if x is None:
        data[idx] = average

print(f'Average is: {average}')
print(data)

Average is: 10.75
[10.5, 11.2, 9.8, 10.75, 11.5, 10.75]