## Essential concepts

In this notebook, we will learn 4 essential concepts in Python programming and programming in general, these concepts include:
1. Types
2. Objects
3. Variables
4. Mutable and Immutable types

### 1.Types

In a program, every element is always assigned a specific type.

The type assigned to an element indicates the potential values that the element can hold and the operations that can be performed on it.

For instance, if an element in Python is assigned the type `int`, we understand that it represents an integer number and can undergo various arithmetic operations.

Consider the following example:

In [1]:
1

1

In [2]:
type(1)

int

The object `1` has type `int`, it means that it is an integer number and so we can perform arithmetic operations on it.

In [2]:
1 + 2

3

In [3]:
(1).__add__(2)

3

Consider the following example:

In [5]:
1.3

1.3

In [6]:
type(1.3)

float

The object `1.3` has type `float`, it means that it is a float number and so we can perform arithmetic operations on it.

In [7]:
1.3 + 4.2

5.5

Consider the following example:

In [4]:
'Hello'

'Salam'

In [5]:
type('Hello')

str

The object `'Hello'` has type `str`, let's see if we can perform `+` operation on it:

In [8]:
'Salam' + 'Bye'

'SalamBye'

It turns out that we can perform `+` two strings. When we perform `+` operation on two strings, it means that we are concatenating two strings.

Let's see if we can perform `+` between an integer and a string:

In [9]:
1 + 'Hello'

TypeError: unsupported operand type(s) for +: 'int' and 'str'

As we can see, we can't perform `+` operation between an integer and a string. the operation will throw an error because it is not defined for the type `int` and `str`.

### 2.Objects

Every entity created by Python is an object; it has:
1. A type
2. State (data)
3. Functionality (methods)
4. Identity (Address in memory)

Everything in Python is an object. By using `Dot notation` we will access an object attributes and methods.

Let's see some examples of objects and their behavior:

In [8]:
200 * 2

400

In [9]:
'SALAM'.lower()

'salam'

In [14]:
(200).__mul__(2)

400

In [15]:
(2.2).__add__(3.4)

5.6

In [16]:
(0.125).as_integer_ratio()

(1, 8)

### 3.Variables

We often need to label objects with some name, and it allows us to use the same object in multiple parts of our code.

We use the `=` operator to assign a name.

![Variable assignment](./pics/assign_var.png)

In [10]:
x = 10

In [11]:
x

10

> **The variable is just a label for an object in the memory**

![Variable assignment](./pics/increment_var.png)

> **Python automatically tracks number of varibales that refer to an object in memory that is called `ref count`**

![ref count](./pics/ref_count.webp)

In [12]:
a = 100
c = a
c = 200

**Reassigning a variable changes the place that variable points to**

![Variable assignment](./pics/vars.svg)

In [13]:
a

100

In [14]:
a = a + 1
a

101

In [15]:
x = c * 2
x

400

#### Variable address

Each variable is a reference to a memory address. We can get the address that the variable is pointing to by using the `id()` function.

In [17]:
x = 100
y = 200
z = x

In [18]:
id(x)

8888488

> `x` is pointing to the address of `100` in memory, the address value is shown above.

In [19]:
id(y)

8891688

In [20]:
id(z)

8888488

#### Variable naming

1. Case sensetive
2. Must start with underscore (`_`) or letter (a-z A-Z)
3. It can be followed by any number of underscores or letters, or digits
4. Cannot use reserved words
5. Follow snake case

[PEP8 Style Guide](https://peps.python.org/pep-0008/) is typical convections followed by most Python developers.

In [27]:
name = 'Alex'
name_of_person = 'John'
name_of_person2 = 'hi'
Name = 'bob'

### 4.Mutable and Immutable types

An object is considered mutable if its state can be modified, while it is considered immutable if its state cannot be changed.

In [21]:
x = 10
id(x)

8885608

In [22]:
x = 20
id(x)

8885928

In [23]:
l = [1, 2, 3]
id(l)

140355237042176

In [24]:
l[0] = 10
l

[10, 2, 3]

In [25]:
id(l)

140355237042176