## Sets

A set is an unordered collection of **unique** elements. Sets are similar to lists and tuples in that they can contain multiple elements, but unlike lists and tuples, sets do not have a specific order and cannot contain duplicate elements.

Here's an example of a set in Python:

```python
my_set = {1, 2, 3, 4}
```

In this example, we create a set `my_set` containing the elements `1`, `2`, `3`, and `4`. Note that the elements are enclosed in curly braces `{}`, and are separated by commas.

Sets in Python (just like mathematical sets) support a variety of operations, including union, intersection, and difference. Here are some common methods for working with sets:

1. `add`: Adds an element to the set.

2. `remove`: Removes an element from the set. Raises a `KeyError` if the element is not present.

3. `discard`: Removes an element from the set, but does not raise an error if the element is not present.

4. `pop`: Removes and returns an arbitrary element from the set. Raises a `KeyError` if the set is empty.

5. `clear`: Removes all elements from the set.

6. `union`: Returns a new set containing all elements from two or more sets.

7. `intersection`: Returns a new set containing only the elements that are common to two or more sets.

8. `difference`: Returns a new set containing only the elements that are in one set but not in another.

9. `symmetric_difference`: Returns a new set containing only the elements that are in one set or the other, but not in both.

sets are implemented using hash tables, which require that the elements of the set are hashable. Hashable objects are objects that have a hash value that remains constant throughout their lifetime, and can be used as keys in a dictionary or elements in a set.

The reason why set elements should be hashable is that the hash table implementation of sets relies on the hash values of the elements to efficiently store and retrieve them. When an element is added to a set, its hash value is computed and used to determine its position in the hash table. When an element is looked up in a set, its hash value is used to quickly locate its position in the hash table.

If an object is not hashable, it cannot be used as an element in a set, because it does not have a well-defined hash value. In this case, attempting to add the object to a set will raise a TypeError.

Sets are mutable but there another type of set in Python called `frozenset` which is immutable.

<img src="./pics/sets.jpg" alt="hash table" width="500" height="300">

See [this video](https://www.youtube.com/watch?v=xZELQc11ACY) to review sets in mathematics.

### Defining sets

In [1]:
s = {1, 2, 3, 4}
s

{1, 2, 3, 4}

In [2]:
type(s)

set

> **You can also define a set using `set` function**

In [5]:
s = set([1,2,3])
s

{1, 2, 3}

> **Set elements are unique**

In [8]:
s = {1, 1, 1, 2, 1, 3}
s

{1, 2, 3}

> **`set` function gets any iterable of hashable elements as input**

In [11]:
set_of_chars = set('Parrot')
set_of_chars

{'P', 'a', 'o', 'r', 't'}

### Getting size of a set using `len`

You can get size of a set using `len` function.

In [12]:
s = {1, 2, 3}
len(s)

3

### Membership testing using `in` keyword

You can use `in` keyword to test whether an object is a memeber of set or not.

In [13]:
s = {1, 2, 3}

In [14]:
1 in s

True

In [15]:
10 in s

False

### Sets are iterable

you can use a `for` to iterate on a set, **remember elements in a set does not have any special order**

In [18]:
s = set('parrot')

for x in s:
    print(x)

o
p
a
t
r

### `add` method

`add` adds an element to the set.

In [19]:
s = {1, 2, 3}
s

{1, 2, 3}

In [22]:
s.add(10)

In [23]:
s

{1, 2, 3, 10}

### `remove` method

`remove` removes an element from the set. Raises a KeyError if the element is not present.

In [24]:
s = {1, 2, 3}
s

{1, 2, 3}

In [25]:
s.remove(1)

In [26]:
s

{2, 3}

In [27]:
s.remove(10)

KeyError: 10

### `discard` method

`discard` removes an element from the set, but does not raise an error if the element is not present.

In [28]:
s = {1, 2, 3}
s

{1, 2, 3}

In [29]:
s.discard(1)
s

{2, 3}

In [32]:
s.discard(10)
s

{2, 3}

### `pop` method

`pop` removes and returns an arbitrary element from the set. Raises a `KeyError` if the set is empty.

In [33]:
s = {1, 2, 3}
s

{1, 2, 3}

In [34]:
x = s.pop()
x

1

In [35]:
s

{2, 3}

### `clear` method

`clear` removes all elements from the set.

In [37]:
s = {1, 2, 3}
s

{1, 2, 3}

In [40]:
s.clear()
s

set()

### `union` method

To get the union of two sets, you can use the `union()` method or the `|` operator.

In [42]:
set1 = {1, 2, 3}
set2 = {3, 4, 5}
union_set = set1.union(set2)
print(union_set)

{1, 2, 3, 4, 5}

> **You can also use `|` operator to get the same result.**

In [43]:
set1 = {1, 2, 3}
set2 = {3, 4, 5}
union_set = set1 | set2
print(union_set)

{1, 2, 3, 4, 5}

### `intersection` method

To get the intersection of two sets, you can use the `intersection()` method or the `&` operator.

In [44]:
set1 = {1, 2, 3}
set2 = {2, 3, 4}
intersection_set = set1.intersection(set2)
print(intersection_set)

{2, 3}

> **You can also use `&` operator to get the same result**

In [45]:
set1 = {1, 2, 3}
set2 = {2, 3, 4}
intersection_set = set1 & set2
print(intersection_set)

{2, 3}

### `difference` method

To get the difference of two sets, you can use the `difference()` method or the `-` operator.

In [46]:
set1 = {1, 2, 3}
set2 = {2, 3, 4}
diff_set = set1.difference(set2)
print(diff_set)

{1}

> You can also use `-` operator to get the same result

In [47]:
set1 = {1, 2, 3}
set2 = {2, 3, 4}
diff_set = set1 - set2
print(diff_set)

{1}

### `symmetric_difference` method

To get the symmetric difference of two sets, you can use the `symmetric_difference()` method or the `^` operator.

In [48]:
set1 = {1, 2, 3}
set2 = {2, 3, 4}
symm_diff_set = set1.symmetric_difference(set2)
print(symm_diff_set)

{1, 4}

> You can also use `^` operator to get the same result

In [49]:
set1 = {1, 2, 3}
set2 = {2, 3, 4}
symm_diff_set = set1 ^ set2
print(symm_diff_set)

{1, 4}