## General operations on sequences

In Python, sequences are a type of data structure that represents an ordered collection of elements. There are several general operations that can be performed on sequences:

1. Accessing elements: You can access individual elements of a sequence using indexing. In Python, indexing starts at 0. For example, if `my_seq` is a sequence, `my_seq[0]` will return the first element of the sequence.

2. Slicing: You can extract a subset of a sequence using slicing. Slicing uses the syntax `start:end:step`. For example, `my_seq[1:4]` returns a new sequence that contains elements 1, 2, and 3 of `my_seq`.

3. Concatenation: You can concatenate two sequences using the `+` operator. For example, `my_seq1 + my_seq2` returns a new sequence that contains all the elements of `my_seq1` followed by all the elements of `my_seq2`.

4. Repetition: You can repeat a sequence a certain number of times using the `*` operator. For example, `my_seq * 3` returns a new sequence that contains `my_seq` repeated three times.

5. Length: You can determine the length of a sequence using the `len()` function. For example, `len(my_seq)` returns the number of elements in `my_seq`.

6. Membership testing: You can check if an element is in a sequence using the `in` keyword. For example, `3 in my_seq` returns `True` if the value `3` is an element of `my_seq`.

7. Iteration: You can iterate over the elements of a sequence using a `for` loop. For example:

```python
for element in my_seq:
    print(element)
```

This will print each element of `my_seq` on a new line.

### Concatennation

Using `+` operator we can concatenate two seqs together.

In [10]:
text1 = 'This is a text'
text2 = ' and this is rest of the text'

text3 = text1 + text2

print(text3)

This is a text and this is rest of the text

In [11]:
l1 = [1,2,3]
l2 = [4,5,6]

l3 = l1 + l2

print(l3)

[1, 2, 3, 4, 5, 6]

In [12]:
t1 = (1,2,3)
t2 = (4,5,6)

t3 = t1 + t2

print(t3)

(1, 2, 3, 4, 5, 6)

### Repetition

Using `*` operator we can repeat a seq.

In [13]:
text1 = 'This is a text'
text2 = text1 * 2

print(text2)

This is a textThis is a text

In [14]:
l1 = [1,2,3]
l2 = l1 * 2

print(l2)

[1, 2, 3, 1, 2, 3]

In [15]:
t1 = (1,2,3)
t2 = t1 * 2

print(t2)

(1, 2, 3, 1, 2, 3)

### Membership testing

Using `in` keyword we can test the membership of an object in a seq.

In [16]:
l = [100, 2, 4]

3 in l

False

In [17]:
100 in l

True

In [19]:
x = int(input('Enter your number: '))

if x in l:
    print('Your number is in the list')
else:
    print('Your number is not in the list')

Enter your number:  10

Your number is not in the list

In [20]:
text = 'Hi my name is Alex'

In [21]:
'John' in text

False

In [22]:
'Alex' in text

True

In [25]:
name = input('Enter your name: ')
if name in text:
    print('Hi ' + name)
else:
    print('I do not know you')

Enter your name:  Alex

Hi Alex

### A tricky example

In [28]:
l = [[0,0,0]] * 3
l

[[0, 0, 0], [0, 0, 0], [0, 0, 0]]

In [30]:
l[0][0] = 101
l

[[101, 0, 0], [101, 0, 0], [101, 0, 0]]